blockquote{
  font-size: 1em;
  font-style: italic;
  color: #555555;
  border-left:8px solid var(--color-primary);
  line-height:1.6;
  padding:1.2em 30px 1.2em 75px;
  position: relative;
  background:#f9f9f9;
}

blockquote::before{
  content: "\201C";
  color: var(--color-primary);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

.author{
  color:#333333;
  font-style: normal;
  font-weight: 700;
  margin-top: 1em;
}