.container {
    width: 75%;
    margin-top: 32px;
    padding: 0;
    border-radius: 12px;
    border: 1px solid lightgray;
    overflow: hidden;
    margin: auto;
    font-size: 14px;
}

.container ul, .container li, .container p, .container h2 {
    padding: 0;
    margin: 0;
}

.refresh-button {
    margin: 14px;
    font-size: 12px;
    color: white;
    background-color: var(--color-primary);
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.rounded-circle {
    border-radius: 50%;
}

.container h2{
    font-size: 16px;
}

.container li{
    display: flex;
    justify-content: space-between;
    background: white;
    height: 0;
    padding: 0px;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid lightgray;
    transition: all 0.25s ease-out;
}

.container li.show {
    padding: 8px 16px;
    height: 55px;
}

.container li:hover {
    background: #fafafa;
}

.item-infos-wrapper {
    margin-left: 8px;
    flex-grow: 2;
}

.item-button {
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    margin-left: 4px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
}

.item-button:hover {
    color: white;
    background-color: var(--color-primary);
}

.remove {
    color: red;
    border-color: red;
}

.remove:hover {
    background-color: red;
}

.subtitle{
    text-align: center;
    font-size: 0.80em;
    font-style: italic;
}