@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
:root {
  --color-primary: #36353D;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

h1, h2{
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 700;
}

h3 {
  color: #8b8b8b;
  font-size: 1rem;
  font-weight: 700;
}

p, li {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: underline;
}

header {
  width: 60%;
  margin: auto;
  /* TODO: FIX */
  /* position: fixed;
  top: 0; */
}

header img, header h1 {
  display: inline;
  margin: 16px 16px 16px 0;
  vertical-align: middle;
}

main {
  margin-top: 16px;
  width: 40%;
  margin: auto;
  padding-bottom: 2rem;
}

main h2 {
  margin-top: 1.8rem;
}