:root {
  --color-primary: #36353D;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: "Georgia","Cambria","Times New Roman",Times,serif;
  line-height: 1.6;
}

h1, h2{
  font-size: 1.2rem;
  font-family: sans-serif;
}

header {
  width: 60%;
  margin: auto;
}

header img, header h1 {
  display: inline;
  margin: 16px 16px 16px 0;
  vertical-align: middle;
}

main {
  margin-top: 16px;
  width: 40%;
  margin: auto;
  padding-bottom: 2rem;
}

main h2 {
  margin-top: 2rem;
  font-weight: 700;
}

main h2:first-child {
  margin-top: 1rem;
}